.container{
    display: flex;
    width: 100%;
    padding: 202px 107px;
    flex-direction: column;
    align-items: center;
    gap: 77px;
    background: #4997FE;
}  

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
    align-self: stretch;
}

.title-text{
    color: #FFF;
    font-family: Pretendard;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; /* 115.385% */
}

.title-line{
    width: 1206px;
    height: 5px;
    background: #FFF;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    align-self: stretch;
}

.weather-section{
    display: flex;
align-items: center;
gap: 72px;
align-self: stretch;
}

.weather-today{
    display: flex;
padding: 115px 85px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
border-radius: 70px;
background: #FFF;
}

.weather-today-top{
    color: #000;
text-align: center;
font-family: Pretendard;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.weather-today-bot{
    color: #000;
font-family: Pretendard;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 47px; /* 134.286% */
}


.weather-personal{
    display: flex;
padding: 115px 85px 145px 85px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 30px;
border-radius: 70px;
background: #FFF;
}

.weather-personal-top{
    color: #000;
text-align: center;
font-family: Pretendard;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.weather-personal-bot{
    color: #000;
font-family: Pretendard;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 182.857% */
}

.fit-section{
    display: flex;
padding: 115px 244px;
flex-direction: column;
align-items: center;
gap: 30px;
align-self: stretch;
border-radius: 70px;
background: #FFF;
}

.fit-text{
    color: #000;
text-align: center;
font-family: Pretendard;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.fit-images{
    display: flex;
align-items: flex-start;
gap: 32px;
}

.feedback-section{
display: flex;
padding: 115px 259.5px;
flex-direction: column;
align-items: center;
gap: 35px;
align-self: stretch;
border-radius: 70px;
background: #FFF;
}

.feedback-top{
    color: #000;
text-align: center;
font-family: Pretendard;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.feedback-bot{
display: flex;
align-items: flex-start;
gap: 79px;
}

.feedback-text{
    color: #000;
font-family: Pretendard;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 47px; /* 134.286% */
}

.feedback-hot{
    display: flex;
padding: 9px 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 41px;
border: 1px solid #000;
}

.feedback-good{
    display: flex;
padding: 9px 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 41px;
border: 1px solid #000;
}

.feedback-cold{
    display: flex;
padding: 9px 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 41px;
border: 1px solid #000;
}